[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pudb = "*"
pytest = "*"

[packages]
"discord.py" = "==1.2.3"
requests = "*"

[requires]
python_version = "3.7"
