[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pudb = "==2019.1"
ipython = "==7.8.0"
pycodestyle = "==2.5.0"
coverage = "==4.5.1"
pytest-cov = "==2.7.1"
black = "==19.3b0"
asyncmock = "==0.4.0"
pytest-asyncio = "==0.10.0"

[packages]
"discord.py" = "==1.2.3"
requests = "==2.22.0"
Pillow = "==6.1.0"
pytest = "==5.1.2"
art = "==4.0"
pyyaml = "==5.1.2"
fuzzywuzzy = "==0.17.0"
pyopenssl = "==19.0.0"
clarifai = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
